*{
    margin: 0%;
    padding: 0%;

}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5rem;
    margin-top: 2rem;

}
.text h1{
    text-align: center;
    margin-top: 1rem;
    color: rgb(110, 55, 162);    
}
.img img{
    height: 500px;
    width: 500px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    border-radius: 2rem;
    
}
.img img:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
}

